In [8]:
# Importation of library
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
# Creation of function to prepare our dataset
def prepare_date(df, forcast_col, forcast_out, test_size):
    label = df[forcast_col].shift(-forcast_out) # Creation new column called label with the last 5 rows nan
    X = np.array(df[[forcast_col]]) # Creation the feature array
    X = preprocessing.scale(X) # Processing the feature array
    X_lately = X[-forcast_out] # Creating the column i want to use later in the predicting method
    X = X[:-forcast_out] # X that will contain the training and testing 
    label.dropna(inplace = True) # Dropping na values
    y = np.array(label) # Assigning Y
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) #cross validation

    response = [X_train,X_test , Y_train, Y_test , X_lately]
    return response

### You can easily understand the above function as I have narrated the functionning of every line step by step, now the next thing to do is reading the data

In [12]:
df = pd.read_csv("price.csv")

In [13]:
df.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2020-01-27  71.320000  71.635002  71.320000  71.324997  71.324997       0
1  2020-01-28  71.654999  71.654999  71.178001  71.440002  71.440002       0
2  2020-01-29  71.230103  71.425003  71.168503  71.230400  71.230400       0
3  2020-01-30  71.300003  71.711998  71.300003  71.300003  71.300003       0
4  2020-01-31  71.639999  71.639999  71.277496  71.639999  71.639999       0