In [1]:
# Importation of library
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

### Read our data form URL and save to csv in our directory

In [13]:
# To read from a url we need to import certain library
import requests 
import csv
import io

In [14]:
url = 'https://raw.githubusercontent.com/Rajat-dhyani/Stock-Price-Predictor/master/googl.csv'
res = requests.get(url).content

data = pd.read_csv(io.StringIO(res.decode('utf-8')))

In [15]:
data.head()

        Date    Open    High     Low   Close   Volume
0  20-Jul-17  997.00  998.68  984.62  992.19  1418385
1  19-Jul-17  990.01  995.60  987.01  992.77  1412148
2  18-Jul-17  973.36  990.85  972.04  986.95  1413335
3  17-Jul-17  976.32  983.35  970.80  975.96  1660464
4  14-Jul-17  974.00  977.54  970.15  976.91  1079608

In [16]:
data.to_csv('googl.csv')

In [17]:
# Read the second URL and save it to csv
url = 'https://raw.githubusercontent.com/Rajat-dhyani/Stock-Price-Predictor/master/google.csv'
res = requests.get(url).content
data_google =  pd.read_csv(io.StringIO(res.decode('utf-8')))

In [18]:
data_google.head()

        Date    Open    High     Low   Close   Volume
0  30-Jun-17  943.99  945.00  929.61  929.68  2287662
1  29-Jun-17  951.35  951.66  929.60  937.82  3206674
2  28-Jun-17  950.66  963.24  936.16  961.01  2745568
3  27-Jun-17  961.60  967.22  947.09  948.09  2443602
4  26-Jun-17  990.00  993.99  970.33  972.09  1517912

In [19]:
data_google.shape

(3145, 6)

In [20]:
data_google.to_csv('google.csv')

In [21]:
# read from third url and save it to csv
url = 'https://raw.githubusercontent.com/Rajat-dhyani/Stock-Price-Predictor/master/google_preprocessed.csv'
res = requests.get(url).content
data_google_pre = pd.read_csv(io.StringIO(res.decode('UTF-8')))

In [22]:
data_google_pre.head()

   Item      Open     Close    Volume
0     0  0.012051  0.015141  0.377248
1     1  0.014198  0.010658  0.325644
2     2  0.009894  0.010112  0.189820
3     3  0.010874  0.007407  0.242701
4     4  0.008368  0.010298  0.224905

In [23]:
data_google_pre.to_csv('google_preprocessed.csv')